@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: rgba(255, 255, 255, 0.9);
    color: white;
    padding: 20px 50px;
}

.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search-box {
    min-width: 500px;
    background-color: white;
    padding: 10px;
    border-radius: 200px;
    display: flex;

}

.search-input {
    border: none;
    outline: none;
    background-color: transparent;
    flex-grow: 1;
}

.search-input::placeholder {
    color: lightgray;
}

#search-icon {
    color: #111;
    cursor: pointer;
    padding-right: 10px;
}

#shopping-cart-icon {
    cursor: pointer;
    font-size: 1.5rem;
}

.navBottom {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.menuItem {
    color: lightgray;
    cursor: pointer;

    font-weight: 400;
    transition: all 0.5s ease-in-out;
}

#slider {
    background: url('imgs/background.png');
    overflow: hidden;
}

.sliderWrapper {
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
}

.sliderItem {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slideBg {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    color: white;
    position: absolute;
}

.sliderImg {
    z-index: 1;
    width: 50vw;
}


.selectedItem {
    color: rgb(150, 50, 50);
    font-weight: 900;
}